<div class="container">
  <div class="myGreeting">
    <h4>Welcome to Online Learning Platform!</h4>
  </div>
  <div class="myIntroduction">
    <p>
      Culpa est duis est magna sunt eiusmod non aliqua. Sint commodo fugiat
      dolor ullamco culpa aute exercitation laborum ullamco irure in ut. Eiusmod
      deserunt ea et quis voluptate excepteur est sit id cupidatat quis.
      Adipisicing anim exercitation deserunt officia ad consectetur. Laborum eu
      mollit aliqua exercitation veniam ex aliqua non consequat do incididunt.
    </p>
  </div>
  <div class="myNavContainer">
    <div class="row">
      <div class="myNavButton col">
        <button type="button" class="btn btn-primary" routerLink="lessons">
          Go To Lessons!
        </button>
      </div>
      <div class="myNavButton col">
        <button type="button" class="btn btn-primary" routerLink="exams">
          Take an Exam!
        </button>
      </div>
    </div>
  </div>
</div>
