<div class="container-fluid card">
  <div class="greetingmreeting">
    <div class="myGreeting">
      <h4>Uzaktan Eğitim Sistemi</h4>
    </div>
    <div class="myIntroduction">
      <p>
        Culpa est duis est magna sunt eiusmod non aliqua. Sint commodo fugiat
        dolor ullamco culpa aute exercitation laborum ullamco irure in ut.
        Eiusmod deserunt ea et quis voluptate excepteur est sit id cupidatat
        quis. Adipisicing anim exercitation deserunt officia ad consectetur.
        Laborum eu mollit aliqua exercitation veniam ex aliqua non consequat do
        incididunt.
      </p>
      <br />
    </div>
    <br />
  </div>
  <br />
  <div class="container yukariIt">
    <div class="row">
      <h3 class="text-center">Bir Derse Başla!</h3>
      <hr />
    </div>
    <div class="row">
      <div class="col">
        <div class="img">
          <a routerLink="lessons/0">
            <img
              class="img-fluid hovernow myBorder"
              src="http://localhost:4200/assets/html-course-logo.png"
            />
          </a>
        </div>
      </div>
      <div class="col">
        <a routerLink="lessons/1">
          <img
            class="img-fluid hovernow myBorder"
            src="http://localhost:4200/assets/css-course-logo.jpg"
          />
        </a>
      </div>
      <div class="col">
        <a routerLink="lessons/2">
          <img
            class="img-fluid hovernow myBorder"
            src="http://localhost:4200/assets/js-course-logo.png"
          />
        </a>
      </div>
    </div>
    <div class="myNavContainer container">
      <div class="row">
        <button
          type="button"
          class="btn btn-success btn-lg btn-block center-blok"
          routerLink="lessons"
        >
          DERSLER SAYFASI
        </button>
      </div>
      <br />
      <div class="row">
        <button
          type="button"
          class="btn btn-primary btn-lg btn-block"
          routerLink="exams"
        >
          SINAVLAR SAYFASI
        </button>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>
