<h2>HTML</h2>
<br />
<hr />
<br />
<br />
<h5 style="padding-left:4em">
  Soru için kalan süre: <b>{{ clock }}</b> saniye
</h5>
<form [formGroup]="choicesForm" (ngSubmit)="onSubmit()">
  <div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5">
        <b
          >Soru {{ currentQuestion.questionId }}:
          {{ currentQuestion.questionTitle }}
        </b>
      </div>
      <br />
      <div *ngFor="let choice of choices">
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3">
          <label class="options"
            >{{ choice }}
            <input
              type="radio"
              name="choice"
              [value]="choice"
              formControlName="choice"
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <br />
      </div>
      <br />
    </div>
    <div class="d-flex align-items-center pt-3">
      <div [hidden]="currentQuestion.questionId === 3">
        <button
          type="submit"
          (click)="onAnswerClick()"
          class="btn btn-success btn-lg my-saga-it"
        >
          Yanıtla ve sonraki soruya geç
        </button>
      </div>
      <div class="ml-auto mr-sm-5">
        <button (click)="onEndClick()" class="btn btn-danger btn-lg">
          Sınavı Bitir
        </button>
      </div>
    </div>
  </div>
</form>
<br />
<br />

<!-- <div class="container mt-sm-5 my-1">
  <div class="question ml-sm-5 pl-sm-5 pt-2">
    <div class="py-2 h5">
      <b>Q. which option best describes your job role?</b>
    </div>
    <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
      <label class="options"
        >Small Business Owner or Employee <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
      <label class="options"
        >Nonprofit Owner or Employee <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
      <label class="options"
        >Journalist or Activist <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
      <label class="options"
        >Other <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="d-flex align-items-center pt-3">
    <div id="prev"><button class="btn btn-primary">Previous</button></div>
    <div class="ml-auto mr-sm-5">
      <button class="btn btn-success">Next</button>
    </div>
  </div>
</div> -->
