<div class="list-group">
  <a
    href="#"
    class="list-group-item list-group-item-action"
    *ngFor="let section of sections"
  >
    <div class="container">
      <div class="row">
        <div class="my-section-name col">
          <h6>
            {{ section }}
          </h6>
        </div>
        <div class="my-icon-group col">
          <i class="bi bi-file-earmark-text-fill"></i>
          <i class="bi bi-play-btn-fill"></i>
          <i class="bi bi-download"></i>
        </div>
      </div>
    </div>
  </a>
</div>
