<div class="list-group">
  <a
    [routerLink]="section.id.toString()"
    class="list-group-item list-group-item-action"
    *ngFor="let section of sections"
  >
    <div class="container">
      <div class="row">
        <div class="my-section-name col">
          <h6>
            {{ section.name }}
          </h6>
        </div>
        <div class="my-icon-group col" style="padding-left: 10rem">
          <i
            class="bi bi-file-earmark-text-fill"
            style="font-size: 3rem; padding-right: 15px"
          ></i>
          <i
            class="bi bi-play-btn-fill"
            style="font-size: 3rem; padding-right: 15px"
          ></i>
          <i
            class="bi bi-download"
            style="font-size: 3rem; padding-right: 5px"
          ></i>
        </div>
      </div>
    </div>
  </a>
</div>
