<h4 class="text-secondary">Şimdi Girebileceğiniz Sınavlar</h4>
<hr />
<br />

<div class="card">
  <div class="card-header"><strong> HTML Sınavı</strong></div>
  <div class="card-body">
    <br />
    <h5 class="card-title">HTML hakkında bildiklerinizi sınayın</h5>
    <p class="card-text">
      <strong> 10</strong> Soru, Her bir soru için <strong>30</strong> saniyeniz
      bulunmakta, bol şans!
    </p>
    <br />
    <a
      [routerLink]="['/examHtml']"
      [queryParams]="{ questionId: 1 }"
      class="btn btn-primary"
      >Sınava Başla</a
    >
  </div>
</div>
