.userChoice {
  background-color: rgba(199, 63, 63, 0.726);
}

.correctChoice {
  background-color: rgba(87, 202, 87, 0.733);
}

.card-body {
  background-color: rgba(128, 128, 128, 0.568);
}

.card {
  border: 2px solid gray;
}
