<div class="container">
  <div class="row container my-lesson-container" *ngFor="let lesson of lessons">
    <div class="card mb-4" style="max-width: 750px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            [src]="lesson.imgPath"
            class="img-fluid rounded-start"
            alt="course-image"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ lesson.name }}</h5>
            <p class="card-text">
              {{ lesson.description }}
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
      <button
        type="button"
        (click)="goLessonPage(lesson.id)"
        class="btn btn-primary"
      >
        Take The Course
      </button>
    </div>
  </div>
</div>
